{% extends "includes/base.html" %}
{% load static %}

<!DOCTYPE html>

<html lang="ru">

{% block css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static "deps/css/bootstrap/bootstrap.min.css" %}">

    
    <link rel="stylesheet" type="text/css" href="{% static "deps/css/common.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "deps/css/fonts.css"  %}">
    <link rel="stylesheet" type="text/css" href="{% static "deps/css/Index.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "deps/css/navbar.css"%}" >
    <link rel="stylesheet" type="text/css" href="{% static "deps/css/carousel.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "deps/css/footer.css" %}" >
    


    {% endblock css %}
    


<body>
    {% block circle %}
    <div class="img-container">
        <div class="img-text start-50 top-50 translate-middle-x">
            <h2 class="img-title">Newsroom</h2>
            <p class="img-subtitle">Новости и заметки от ведущих веб-инженеров...</p>
        </div>
        <div class="img-content">
            <img src=" {% static "deps/assets/circle.png" %}">
        </div>

    </div>{% endblock circle %}


    {% block content %}
    

    
        <div class="container overflow-hidden mt-5 ">
            <div class="row gy-3  ">
                <!-- <div class="col-1"></div> -->
                <div class="col-12 parent-carousel">
                    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>

                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Предыдущий</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Следующий</span>
                            </button>
                            <div class="carousel-item active">

                                <div class="d-block w-100 ">
                                    <div class="row">
                                        <div class="col-lg-6 text-slide">
                                            Insight
                                            <h2 class="insightTitle">Behind our industry leading acceptance rates</h2>
                                            <h3 class="insightSubtitle">
                                                CloudCannon, a popular Git-based CMS for
                                                static site generators, has annouced full
                                                support for Astro.
                                            </h3>


                                            <div>
                                                <a href="#" class="carousel-link w-100">
                                                    <p>Узнать больше>>></p>
                                                </a>
                                            </div>


                                            <p class="insightDate">March 18, 2024</p>

                                            <h2 align="right">
                                                <i>By Mr.Sneakers</i>
                                            </h2>


                                        </div>
                                        <div class="col-lg-6 image-parent">
                                            <img class="insightImage" src="{%static "deps/assets/preview3.svg" %}"  alt="alt text" />
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item ">

                                <div class="d-block w-100 ">
                                    <div class="row">
                                        <div class="col-lg-6 text-slide">
                                            Insight
                                            <h2 class="insightTitle">Behind our industry leading acceptance rates</h2>
                                            <h3 class="insightSubtitle">
                                                CloudCannon, a popular Git-based CMS for
                                                static site generators, has annouced full
                                                support for Astro.
                                            </h3>


                                            <div>
                                                <a href="#" class="carousel-link w-100">
                                                    <p>Узнать больше>>></p>
                                                </a>
                                            </div>


                                            <p class="insightDate">March 18, 2024</p>

                                            <h2 align="right">
                                                <i>By Mr.Sneakers</i>
                                            </h2>


                                        </div>
                                        <div class="col-lg-6 image-parent">
                                            <img class="insightImage" src="{%static "deps/assets/preview3.svg" %}" alt="alt text" />
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">

                                <div class="d-block w-100 ">
                                    <div class="row">
                                        <div class="col-lg-6 text-slide">
                                            Insight
                                            <h2 class="insightTitle">Behind our industry leading acceptance rates</h2>
                                            <h3 class="insightSubtitle">
                                                CloudCannon, a popular Git-based CMS for
                                                static site generators, has annouced full
                                                support for Astro.
                                            </h3>


                                            <div>
                                                <a href="#" class="carousel-link w-100">
                                                    <p>Узнать больше>>></p>
                                                </a>
                                            </div>


                                            <p class="insightDate">March 18, 2024</p>

                                            <h2 align="right">
                                                <i>By Mr.Sneakers</i>
                                            </h2>


                                        </div>
                                        <div class="col-lg-6 image-parent">
                                            <img class="insightImage" src="{%static "deps/assets/preview3.svg" %}" alt="alt text" />
                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>



            </div>
            <div class="row w-100">

                <div class="col-12">




                    <div class="card subscriptionContainer">
                        <div class="row">
                            <div class="col-9">
                                <div class="card-body">
                                    <form>
                                        <div class="con">
                                            <label for="exampleInputEmail1" class="form-label">Подпишитесь,<br> чтобы
                                                оставаться в курсе</label>

                                            <div class="email-sub-group position-relative">
                                                <input type="email" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="emailHelp" placeholder="Ваша электронная почта">
                                                <button type="submit"
                                                    class="btn btn-primary email-sub-btn ">Отправить</button>
                                            </div>
                                            <br>
                                            <div id="emailHelp" class="form-text">Мы никогда никому не передадим вашу
                                                электронную почту.
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-3 align-items-center justify-content-evenly">
                                <div class="follow-us">
                                    <h3 class="follow-us-title">:)</h3>
                                    <br>
                                    <p>Получите последние новости и вдохновение</p>
                                    <br>
                                    <a href="#">
                                        <img class="twitter" src="{%static "deps/assets/twiter.svg" %}" alt="twiter">
                                    </a>
                                    <a href="#">
                                        <img class="inst" src="{%static "deps/assets/inst.svg" %}" alt="inst">
                                    </a>
                                    <a href="#">
                                        <img class="youtube" src="{%static "deps/assets/youtube.svg" %}" alt="youtube">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>



        </div>
        <div class="container-fluid w-100">
            <div class="container grid-blogs ">
                <div class="card-base">
                    <a href="#">
                        <div class="card" style="width: 18rem;">
                            <img src="{%static "deps/assets/preview1.svg" %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-date mb-2">Insight March 17, 2024</p>
                                <h5 class="card-title mb-2">Bole of Desing in Masing
                                    User-Friendly Apps</h5>
                                <p class="card-text">Небольшой пример текста, который должен основываться на названии
                                    карточки и составлять
                                    основную часть содержимого карты.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card-base">
                    <a href="#">
                        <div class="card" style="width: 18rem;">
                            <img src="{%static "deps/assets/preview4.svg" %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-date mb-2">Insight March 17, 2024</p>
                                <h5 class="card-title mb-2">Bole of Desing in Masing
                                    User-Friendly Apps</h5>
                                <p class="card-text">Небольшой пример текста, который должен основываться на названии
                                    карточки и
                                    составлять
                                    основную часть содержимого карты.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card-base">
                    <a href="#">
                        <div class="card" style="width: 18rem;">
                            <img src="{%static "deps/assets/preview5.svg" %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-date mb-2">Insight March 17, 2024</p>
                                <h5 class="card-title mb-2">Bole of Desing in Masing
                                    User-Friendly Apps</h5>
                                <p class="card-text">Небольшой пример текста, который должен основываться на названии
                                    карточки и
                                    составлять
                                    основную часть содержимого карты.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card-base">
                    <a href="#">
                        <div class="card" style="width: 18rem;">
                            <img src="{%static "deps/assets/preview4.svg" %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-date mb-2">Insight March 17, 2024</p>
                                <h5 class="card-title mb-2">Bole of Desing in Masing
                                    User-Friendly Apps</h5>
                                <p class="card-text">Небольшой пример текста, который должен основываться на названии
                                    карточки и
                                    составлять
                                    основную часть содержимого карты.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card-base">
                    <a href="#">
                        <div class="card" style="width: 18rem;">
                            <img src="{%static "deps/assets/preview5.svg" %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-date mb-2">Insight March 17, 2024</p>
                                <h5 class="card-title mb-2">Bole of Desing in Masing
                                    User-Friendly Apps</h5>
                                <p class="card-text">Небольшой пример текста, который должен основываться на названии
                                    карточки и
                                    составлять
                                    основную часть содержимого карты.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card-base">
                    <a href="#">
                        <div class="card" style="width: 18rem;">
                            <img src="{%static "deps/assets/preview1.svg" %}"class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-date mb-2">Insight March 17, 2024</p>
                                <h5 class="card-title mb-2">Bole of Desing in Masing
                                    User-Friendly Apps</h5>
                                <p class="card-text">Небольшой пример текста, который должен основываться на названии
                                    карточки и
                                    составлять
                                    основную часть содержимого карты.</p>
                            </div>
                        </div>
                    </a>
                </div>


            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link selected" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>




        </div>

        </div>


        </div>

        </div>

    
    {% endblock content %}
    

    
</body>


</html>