


.main-nav-bar {
    
    color: rgb(255, 255, 255);
    
    
}

.navbar{
    background-color: #464646 !important;
   
  
    padding-top: 0.5em;
    padding-bottom: 0.5em;
     border: rgb(196, 196, 196);
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    
   
    
}


.navbar-toggler {
    display: none;
}



.selectedButton {
    background-color: #007bff; /* Цвет выбранной кнопки */
    color: white; /* Цвет текста выбранной кнопки */
}

.signUpButton{
    border-radius: 25px;
    background-color: #fff;
    color: #000000;
}


.signUpButton:hover{
    background-color:  #464646;
    color: #fff;
    
    border-color: fff;
    
    border-width:1px;

}

.nav-link{
    color: #fff;
    font: 700 12px/1.75 "Hind Vadodara", Helvetica, Arial, serif;
    padding: 2px;
    padding-inline: 1em;
}

.nav-link:hover {
    color: #000000; /* Цвет при наведении */
}
.nav-item{
    align-items: center;
    padding-top: 0.5em;
    font: 700 12px/1.75 "Hind Vadodara", Helvetica, Arial, serif;
}
.brand-title{
    padding-top: 0.1em;
    
}

.active-offset{
   
    border: 1px #464646 solid;
    
}
.offcanvas-body .nav-item a{
    font-size: 20px !important; padding-inline: 1em;
}


li{
    /* margin-inline:1em; */
    
}

@media (max-width: 768px) {
    .navbar-toggler {
        display: block;
        justify-content: end;
    }
    .signUpButton,
    .nav-item,
    li{
        display: none;
    }
    
}



@media (max-width: 995px) {
    .navbar-toggler {
        display: block;
        justify-content: end;
    }
    .signUpButton,
    .nav-item,
    li{
        display: none;
    }
    .brand-title{
        
        display:contents;
    }
    .nav{
        justify-content: start;
        display:contents;
        }

    .offcanvas-body li{
        display: block;
        justify-content: left;
    }   
    .col-8{
        justify-content: end;
    }
    .navbar{
        display: flex;
        
        
        justify-self: end;
        
       
    }
    .nav-item{
        padding-top: 0;
    }    
}